#cloud-config
ssh_authorized_keys:
- {{ lookup('file', '/root/.ssh/id_rsa.pub') }}

chpasswd:
  list: |
     root:{{default_password}}
     cloud-user:{{default_password}}
  expire: False
timezone: Europe/Helsinki
